.movie-details-container {
  width: 100%;
  height: auto;
  padding: 10px;
  color: #fff;
}

.movie-details-container h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.goback-container {
  width: 100px;
  height: 25px;
  margin-bottom: 10px;
}

.goback-container-link {
  display: flex;
  align-items: center;
}

.goback-container h2 {
  margin-top: 6px;
  margin-left: 10px;
  font-size: 15px;
  color: #C1C1C1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.goback-container svg {
  height: 15px;
  color: #C1C1C1;
  transform: rotate(-180deg);
}

.movie-details-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
}

.movie-details-info h1 {
  margin-bottom: 10px;
  font-size: 20px;
}

.movie-details-info h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

.movie-details-info h6 {
  font-weight: bold;
  font-size: 14px;
  color: #FFC700;
}

.movie-details-image {
  width: 100%;
  height: auto;
  margin-bottom: 18px;
}

.movie-details-image img{
  width: 100%;
  height: auto;
}

.movie-details-synopsis {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  text-indent: 10px;
  text-align: justify;
}

.movie-details-synopsis p {
  margin-bottom: 0;
  color: #9E9E9E;
}

@media (min-width: 576px) {
  .movie-details-container {
    padding: 20px 50px 50px 50px;
  }

  .movie-details-item {
    padding-top: 20px;
  }

  .movie-details-info {
    padding: 10px;
  }

  .movie-image {
    height: 200px;
  }

  .movie-details-synopsis {
    padding: 10px 15px;
  }
}

@media (min-width: 768px) {
  .movie-details-item {
    padding: 40px;
    margin-bottom: 40px;
  }

  .movie-details-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movie-details-image img {
    max-width: 608px;
  }

  .movie-details-info {
    width: 100%;
    padding: 10px 0 0 20px;
    text-align: start;
  }

  .movie-details-info h1 {
    font-size: 36px;
  }

  .movie-details-info h3 {
    font-size: 24px;
  }

  .movie-details-info h6 {
    font-size: 24px;
  }

  .movie-details-synopsis p {
    font-size: 18px;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .movie-details-synopsis p {
    font-size: 15px;
  }

  .movie-details-info h3 {
    margin-bottom: 30px;
  }

  .movie-details-synopsis {
    padding: 20px 25px;
  }
}

@media (min-width: 1200px) {
  .movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .goback-container {
    width: 1100px;
  }

  .goback-container a {
    width: 80px;
  }

  .movie-details-image {
    width: 500px;
    height: 100%;
    margin-bottom: 0;
  }

  .movie-details-item {
    width: 1100px;
    flex-direction: row;
  }

  .movie-details-info {
    flex: 1;
    padding-top: 0;
    padding-left:40px;
  }

  .movie-details-info h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .movie-details-info h6 {
    font-size: 24px;
  }

  .movie-details-synopsis {
    padding: 20px 25px;
    text-indent: 20px;
  }

  .movie-details-synopsis p {
    font-size: 18px;
  }
}
