.moviecard-container {
  width: 100%;
  padding: 0;
  display: flex;
  margin: 0;
}

.moviecard-container-content {
  padding: 0;
}

.moviecard-item {
  margin: 10px 5px;
  border-radius: 4px;
}

.moviecard-content-image {
  width: 100%;
  padding-top: 25px;
  border-radius: 10px 10px 0 0;
}

.moviecard-image {
  width: 100%;
}

.moviecard-title {
  padding: 10px 15px;
}

.moviecard-title h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 3px;
}

.moviecard-title h2 {
  font-size: 16px;
  font-weight: bold;
  color: #ffc700;
  padding: 0;
  margin-bottom: 3px;
}

.moviecard-title p {
  font-size: 14px;
  margin-bottom: 20px;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

@media (min-width: 576px) {
  .moviecard-item {
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .moviecard-item {
    margin: 20px;
  }

  .moviecard-title {
    padding: 15px 20px;
  }
}

@media (min-width: 992px) {
  .moviecard-title {
    padding: 20px;
  }

  .moviecard-title h1 {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .moviecard-item {
    min-height: 307px;
    margin: 15px;
  }
}
